<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add New Ship</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Add a New Ship</h1>

    <form th:action="@{/addShip}" method="post">
        <label>Ship Name: <input type="text" name="name" required></label><br>
        <label>Displacement (tons): <input type="number" name="displacement" required></label><br>
        <label>Length (m): <input type="number" name="length" required></label><br>
        <label for="beam">Beam:</label>
        <input type="number" step="0.01" name="beam" id="beam" required><br>
        <label>Year Built: <input type="number" name="yearBuilt" required></label><br>

        <!-- Captain -->
        <label>Captain:
            <select name="captainId">
                <option th:each="captain : ${captains}" th:value="${captain.captainId}" th:text="${captain.name}">
                </option>
            </select>
        </label><br>


        <!-- Start Date For the Captain (required) -->
        <label for="startDate">Captain Start Date:</label>
        <input type="date" name="startDate" required><br>

        <!-- End Date For the Captain (optional) -->
        <label for="endDate">Captain End Date (Optional):</label>
        <input type="date" name="endDate"><br>

        <!-- Port -->
        <label>Port:
            <select name="portId">
                <option th:each="port : ${ports}" th:value="${port.portId}" th:text="${port.portName}">Port Name
                </option>
            </select>
        </label><br>

        <!-- Ship Type -->
        <label>Ship Type:
            <select name="shipTypeId">
                <option th:each="shipType : ${shipTypes}" th:value="${shipType.shipTypeId}"
                    th:text="${shipType.shipType}">
                </option>
            </select>
        </label><br>

        <!-- Owner -->
        <label>Owner:
            <select name="ownerId">
                <option th:each="owner : ${owners}" th:value="${owner.ownerId}" th:text="${owner.name}">Owner</option>
            </select>
        </label><br>

        <!-- Fate (optional) -->
        <label>Fate:
            <select name="fateId">
                <option value="">-- None --</option>
                <option th:each="fate : ${fates}" th:value="${fate.fateId}" th:text="${fate.description}">Fate</option>
            </select>
        </label><br>

        <button type="submit">Add Ship</button>
    </form>

    <br>

    <div>
        <a th:href="@{/addcaptainform}">Add New Captain</a><br>
        <a th:href="@{/addevent}">Add New Event</a><br>
        <a th:href="@{/addfateform}">Add New Fate</a><br>
        <a th:href="@{/addshiptypeform}">Add New Ship Type</a><br>
        <a th:href="@{/addownerform}">Add New Owner</a><br>
        <a th:href="@{/addportform}">Add New Port</a><br>

        <br>

        <a th:href="@{/shiplist}">Back to Ship List</a>
    </div>
</body>

</html>